:root{
    --background-color: #ffc500;
    --bs-primary-rgb: #12296c;
}

body{
    background-color: var(--background-color);
    background-image: url(../images/noise-bg.png);
} 

.container-fluid-custom{
     max-width: 1600px;
}